.header {
  margin: 45px 0 40px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
}

.header__logo {
  padding-bottom: 41px;
}

@media screen and (max-width: 600px) {
  .header {
    margin: 28px 0 42px;
  }

  .header__logo {
    width: 126px;
    margin-left: 27px;
    padding-bottom: 32px;
  }
}
